<app-header></app-header>

<main id="main" class="main">
  <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="200">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#onglet1">Temps moyen de travail</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#onglet2">Chiffres d'affaires</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#onglet3">Nombre de reservations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#onglet4">Benefice</a>
    </li>
  </ul>
  <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
    <div class="tab-pane fade show active" id="onglet1">
      <div class="row">
        <div class="col-lg-12">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Temps moyen de travail/jour en(h)</h3>
                <!-- Graphique 2 -->
                <canvas id="graph1" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>

        <div class="col-lg-12">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Temps moyen de travail/mois en(h)</h3>
                <!-- Graphique 2 -->
                <canvas id="graph2" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>

        <div class="col-lg-12">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">2 Temps moyen de travail/semaine en(h)</h3>

                <canvas id="graph3" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="onglet2">
      <div class="row">
        <div class="col-lg-12">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Chiffres d'affaire par jour</h3>

                <canvas id="graph4" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>

        <div class="col-lg-12">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Chiffres d'affaire par mois</h3>
                <!-- Graphique 2 -->
                <canvas id="graph3" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="onglet3" >
      <div class="row">
        <div class="col-lg-6">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Nombre de reservation/jour</h3>
                <!-- Graphique 2 -->
                <canvas id="graph7" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>

        <div class="col-lg-6">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Nombre de reservation/mois</h3>
                <!-- Graphique 2 -->
                <canvas id="graph6" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="onglet4">
      <div class="row">
        <div class="col-lg-6">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">4 Temps moyen de travail/jour en(h)</h3>
                <!-- Graphique 2 -->
                <canvas id="graph8" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>

        <div class="col-lg-6">
          <section class="section">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">4 Temps moyen de travail/mois en(h)</h3>
                <!-- Graphique 2 -->
                <canvas id="graph9" style="max-height: 400px;"></canvas>
                <!-- Fin du Graphique 2 -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
