<div class="cookiesContent" id="cookiesPopup">
  <button (click)="closeDialog()" class="close">✖</button>
  <img src="./assets/img/icon.png" alt="cookies-img" />
  <h2>{{ data.title }}</h2>
  <ng-container *ngIf="data.rendezvous && data.rendezvous.length > 0; else noNotifications">
    <div *ngFor="let rdv of data.rendezvous" class="card border-info">
      <div class="card-header text-dark ">{{rdv.daty}} a {{rdv.horaire}}</div>
      <div class="card-body">
          <h5 class="card-title fw-bold">
            {{rdv.description}}
          </h5>
          <p class="card-text text-dark">
            {{rdv.employe_info.nom}} /
            {{rdv.service_info.nom}} /
            {{rdv.service_info.duree}} min
          </p>
      </div>
    </div>
  </ng-container>
  <ng-template #noNotifications>
    <p>Aucune notification</p>
  </ng-template>
  <button (click)="closeDialog()" class="accept">fermer</button>
</div>
