<app-header></app-header>
<div class="container-fluid gallery  position-relative py-5" id="weddingGallery">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-2 text-dark">Mes Préférences <i class="fa fa-heart"></i></h1>
        </div>
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">

          <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                <h4 class="text-primary mb-3">Services</h4>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                <h4 class="text-primary mb-3">Employés</h4>
              </a>

          </ul>

          <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-starters">

              <div class="tab-header text-center">
                <h3 class="text-dark fw-bold mb-3 py-5">Nos Services</h3>
              </div>

              <div class="row gy-5">
                <div *ngFor="let service of services" class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="gallery-item">
                      <div class="search-icon">
                        <i class="fas fa-heart btn-primary btn-primary-outline-0 p-3 my-auto"></i>
                      </div>
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="./assets/img/{{service.service_info.image}}" alt="">
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5 class="fw-bold">{{service.service_info.nom}}</h5>

                        </div>
                    </div>
                </div>


              </div>
            </div>

            <div class="tab-pane fade team" id="menu-breakfast">

              <div class="tab-header text-center">
                <h3 class="text-dark fw-bold mb-3 py-5">Nos Employés</h3>
              </div>

              <div class="row gy-5">

                <div *ngFor="let employe of employes"  class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="search-icon">
                    <i class="fas fa-heart btn-primary btn-primary-outline-0 p-3 my-auto"></i>
                  </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="team-img-main">
                              <img src="./assets/img/{{employe.employes_info.image}}" class="img-fluid w-100" alt="">
                            </div>
                        </div>
                        <div class="team-content">
                            <div class="d-flex flex-column p-4">
                                <a [routerLink]="['/rendezvous']">  <h5 class="text-white display-6 mb-1">{{employe.employes_info.nom}}</h5> </a>
                                <h5 class="text-white fs-5 mb-0">{{employe.employes_info.horaireTravail}}</h5>
                            </div>
                        </div>

                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
</div>
<app-footer></app-footer>
