<app-header></app-header>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gestion des personnel</h1>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste employées</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Ajouter employées</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Liste des employées</h5>
                                <div class="row mb-3">
                                    <label for="search" class="col-md-2 col-lg-3 col-form-label">Rechercher</label>
                                    <div class="col-md-3 col-lg-9">
                                        <input [(ngModel)]="searchTerm" (ngModelChange)="updatePagedEmployes()" type="text" class="form-control" id="search">
                                    </div>
                                </div>

                                <!-- Default Table -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Adresse-email</th>
                                            <th scope="col">Horaire de travail</th>
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employe of pagedEmployes">
                                            <td><img src="{{employe.image}}" width="50" height="50" /></td>
                                            <td>{{employe.nom}}</td>
                                            <td>{{employe.email}}</td>
                                            <td>{{employe.horaireTravail}}</td>
                                            <td>
                                              <a class="btn btn-warning btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                  <i class="bi bi-pencil-square"></i>
                                              </a>
                                          </td>
                                            <td><a (click)="deleteEmployee(employe._id)" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <mat-paginator [length]="employes.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <h5 class="card-title">Ajouter un employées</h5>
                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="fullName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="fullName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Heure début</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input [(ngModel)]="horaireDebut" [ngModelOptions]="{standalone: true}" type="time" class="form-control" id="company">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Heure fin</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input [(ngModel)]="horaireFin" [ngModelOptions]="{standalone: true}" type="time" class="form-control" id="Job">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre de jour travail par semaine</label>
                                      <div class="col-md-4 col-lg-9">
                                          <input [(ngModel)]="nbJourTravailSemaine" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="Job">
                                      </div>
                                  </div>
                                  <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre de jour travail par mois</label>
                                    <div class="col-md-4 col-lg-9">
                                        <input [(ngModel)]="nbJourTravailMois" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="Job">
                                    </div>
                                </div>
                                    <div class="text-center">
                                        <button (click)="creerEmploye()" type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
<app-footer></app-footer>
