<app-header></app-header>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gestion des personnel</h1>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered mb-3">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste employées</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Ajouter employées</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                           

                            <div class="tab-pane fade show active profile-overview mb-3" id="profile-overview">
                                <div class="header mb-3 search-bar d-flex align-items-center" style="width: 500px;padding-right: 20px;">
                                    <label for="search" class="col-md-4 col-lg-3 col-form-label">Rechercher</label>
                                    <div class="search-form d-flex align-items-center">
                                        <input [(ngModel)]="searchTerm" (ngModelChange)="updatePagedEmployes()" type="text" class="form-control" id="search">
                                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                              
                                <!-- Default Table -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Adresse-email</th>
                                            <th scope="col">Salaire</th>
                                            <th scope="col">Horaire de travail</th>
                                            <th scope="col">Nombre de jour de travail/semaine</th>
                                            <th scope="col">Nombre de jour de travail/mois</th>
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employe of pagedEmployes" style="text-align: center;">
                                            <td><img src="{{employe.image}}" width="50" height="50" /></td>
                                            <td>{{employe.nom}}</td>
                                            <td>{{employe.email}}</td>
                                            <td> {{employe.salaire | currency:'USD'}} </td>
                                            <td>{{employe.horaireTravail}}</td>
                                            <td>{{employe.nbJourTravailSemaine}} j</td>
                                            <td>{{employe.nbJourTravailMois}} j</td>
                                            
                                            <td>
                                              <a (click)="openModal(employe._id, content)" class="btn btn-warning btn-sm" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <i class="bi bi-pencil-square"></i>
                                              </a>

                                          </td>
                                            <td><a (click)="deleteEmployee(employe._id)" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <mat-paginator [length]="employes.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <h3 class="card-title">Ajouter un employé</h3>
                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="fullName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="fullName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Mot de passe</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="mdp" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="mdp">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Heure début</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input [(ngModel)]="horaireDebut" [ngModelOptions]="{standalone: true}" type="time" class="form-control" id="company">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Heure fin</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input [(ngModel)]="horaireFin" [ngModelOptions]="{standalone: true}" type="time" class="form-control" id="Job">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre de jour travail par semaine</label>
                                      <div class="col-md-4 col-lg-9">
                                          <input [(ngModel)]="nbJourTravailSemaine" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="Job">
                                      </div>
                                  </div>
                                  <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre de jour travail par mois</label>
                                    <div class="col-md-4 col-lg-9">
                                        <input [(ngModel)]="nbJourTravailMois" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="Job">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Salaire</label>
                                    <div class="col-md-4 col-lg-9">
                                        <input [(ngModel)]="salaire" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="salaire">
                                    </div>
                                </div>
                                    <div class="text-center">
                                        <button (click)="creerEmploye()" type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>


    </section>
</main><!-- End #main -->
       <!-- Modal -->
       <ng-template #content let-modal>
        <div class="modal-header" sty>
          <h4 class="modal-title" id="modal-basic-title">Modifier employées</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                                <form>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="nom" value="{{selectedEmployee?.nom}}" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="fullName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="fullName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Heure début</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input [(ngModel)]="horaireDebut" [ngModelOptions]="{standalone: true}" type="time" class="form-control" id="company">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Heure fin</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input [(ngModel)]="horaireFin" [ngModelOptions]="{standalone: true}" type="time" class="form-control" id="Job">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre de jour travail par semaine</label>
                                      <div class="col-md-4 col-lg-9">
                                          <input [(ngModel)]="nbJourTravailSemaine" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="Job">
                                      </div>
                                  </div>
                                  <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre de jour travail par mois</label>
                                    <div class="col-md-4 col-lg-9">
                                        <input [(ngModel)]="nbJourTravailMois" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="Job">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Salaire</label>
                                    <div class="col-md-4 col-lg-9">
                                        <input [(ngModel)]="salaire" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="salaire">
                                    </div>
                                </div>

                                </form><!-- End Profile Edit Form -->
                            </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="updateEmploye(selectedEmployee._id)" >Modifier</button>
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
        </div>
      </ng-template>

<app-footer></app-footer>
