<app-header></app-header>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gestion des offres spéciales</h1>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste des offres spéciales</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Ajouter une offre spéciale</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Liste des offres spéciales</h5>
                               

                                <!-- Default Table -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Date début</th>
                                            <th scope="col">Date fin</th>
                                            <th scope="col">Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let offre of offres">
                                            <td>{{offre.titre}}</td>
                                            <td>{{offre.description}}</td>
                                            <td> {{offre.datedebut | dateFormat}} </td>
                                            <td> {{offre.datefin | dateFormat}}</td>
                                            <td><a (click)="deleteOffrespecial(offre._id)" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <h5 class="card-title">Ajouter une offre spéciale</h5>
                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Titre</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input  name="titre" type="text" [(ngModel)]="titre" [ngModelOptions]="{standalone: true}" class="form-control" id="titre">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Description</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Date début</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input name="datedebut" [(ngModel)]="datedebut" [ngModelOptions]="{standalone: true}"  type="date" class="form-control" id="datedebut">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Date fin</label>
                                        <div class="col-md-4 col-lg-9">
                                            <input name="datefin" [(ngModel)]="datefin" [ngModelOptions]="{standalone: true}"  type="date" class="form-control" id="datefin">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Service</label>
                                      <div class="col-md-4 col-lg-9">
                                        <select [(ngModel)]="service_id" [ngModelOptions]="{standalone: true}" class="form-select" aria-label="Default select example">
                                            <option *ngFor="let service of services" [value]="service._id">{{ service.nom }}</option>
                                          </select>
                                      </div>
                                  </div>
                                 
                                    <div class="text-center">
                                        <button (click)="creerOffrespeciale()"  type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>


    </section>
</main><!-- End #main -->
       <!-- Modal -->
      

<app-footer></app-footer>
