 <app-header></app-header>
 <!--- Bridesmaids & Groomsmen start -->
 <div class="container-fluid team position-relative py-5">
    <div class="container py-5">
        <div class="mb-5 text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-2 text-dark">Nos employées</h1>
            <!-- <p class="fs-5 text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting Ipsum is simply dummy text of the printing and typesetting Ipsum is simply dummy text of the printing and typesetting</p> -->
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s"  *ngFor="let employee of employes">
                <div class="team-item">
                    <div class="team-img">
                        <div class="team-img-main">
                          <img src="{{employee.image}}" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                    <div  class="team-content">
                        <div class="d-flex flex-column p-4">
                            <a [routerLink]="['/rendezvous']">  <h5 class="text-white display-6 mb-1">{{employee.nom}} </h5> </a>
                            <h5 class="text-white fs-5 mb-0">{{employee.horaireTravail}}</h5>
                        </div>
                    </div>
                    <div class="team-social d-flex flex-column">
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-light btn-light-outline-0" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bridesmaids & Groomsmen End -->
<app-footer></app-footer>
