 <app-header></app-header>
 <!--- Bridesmaids & Groomsmen start -->
 <div class="container-fluid team position-relative py-5">
    <div class="container py-5">
        <div class="mb-5 text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-2 text-dark">Nos employées</h1>
            <!-- <p class="fs-5 text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting Ipsum is simply dummy text of the printing and typesetting Ipsum is simply dummy text of the printing and typesetting</p> -->
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <div class="team-img-main">
                          <img src="./assets/img/bridesmaid-1.png" class="img-fluid w-100" alt=""> 
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="d-flex flex-column p-4">
                            <a [routerLink]="['/rendezvous']">  <h5 class="text-white display-6 mb-1">Amelia Alex</h5> </a>
                            <h5 class="text-white fs-5 mb-0">Bridesmaid</h5>
                        </div>
                    </div>
                    <div class="team-social d-flex flex-column">
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-light btn-light-outline-0" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <div class="team-img-main">
                            <img src="./assets/img/bridesmaid-team-2.png" class="img-fluid w-100" alt="">
                        </div>
                        <!-- <div class="team-img-bg position-absolute" style="bottom: -30px; left: -100px; transform: rotate(50deg); z-index: 1;">
                            <img src="img/team-1-bg.png" class="img-fluid" alt="">
                        </div>
                        <div class="team-img-bg position-absolute" style="bottom: -40px; right: -120px; transform: rotate(-30deg); z-index: 1;">
                            <img src="img/team-1-bg.png" class="img-fluid" alt="">
                        </div> -->
                    </div>
                    <div class="team-content">
                        <div class="d-flex flex-column p-4">
                            <a [routerLink]="['/rendezvous']">  <h5 class="text-white display-6 mb-1">Amelia Alex</h5> </a>
                            <h5 class="text-white fs-5 mb-0">Bridesmaid</h5>
                        </div>
                    </div>
                    <div class="team-social d-flex flex-column">
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-light btn-light-outline-0" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <div class="team-img-main">
                            <img src="./assets/img/bridesmaid-3.png" class="img-fluid w-100" alt="">
                        </div>
                        
                    </div>
                    <div class="team-content">
                        <div class="d-flex flex-column p-4">
                            <a [routerLink]="['/rendezvous']">  <h5 class="text-white display-6 mb-1">Amelia Alex</h5> </a>
                            <h5 class="text-white fs-5 mb-0">Bridesmaid</h5>
                        </div>
                    </div>
                    <div class="team-social d-flex flex-column">
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-light btn-light-outline-0" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item">
                    <div class="team-img">
                        <div class="team-img-main">
                            <img src="./assets/img/bridesmaid-4.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="d-flex flex-column p-4">
                            <a [routerLink]="['/rendezvous']">  <h5 class="text-white display-6 mb-1">Amelia Alex</h5> </a>
                            <h5 class="text-white fs-5 mb-0">Bridesmaid</h5>
                        </div>
                    </div>
                    <div class="team-social d-flex flex-column">
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-light-outline-0 mb-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-light btn-light-outline-0" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bridesmaids & Groomsmen End -->
<app-footer></app-footer>