<app-header></app-header>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des dépenses</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered mb-3">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile">Générer Dépenses Fixes</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste dépenses</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Saisie dépenses</button>
                </li>
              </ul>
              <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile">
                <h3 class="card-title">Générer les dépenses fixes</h3>
                <form class="row g-3">
                  <div class="col-md-6">
                    <label for="inputEmail5" class="form-label">Mois début</label>
                    <select id="inputState" class="form-select">
                      <option value="1">Janvier</option>
                      <option value="2">Février</option>
                      <option value="3">Mars</option>
                      <option value="4">Avril</option>
                      <option value="5">Mai</option>
                      <option value="6">Juin</option>
                      <option value="7">Juillet</option>
                      <option value="8">Août</option>
                      <option value="9">Septembre</option>
                      <option value="10">Octobre</option>
                      <option value="11">Novembre</option>
                      <option value="12">Décembre</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword5" class="form-label">Mois fin</label>
                    <select id="inputState" class="form-select">
                      <option value="1">Janvier</option>
                      <option value="2">Février</option>
                      <option value="3">Mars</option>
                      <option value="4">Avril</option>
                      <option value="5">Mai</option>
                      <option value="6">Juin</option>
                      <option value="7">Juillet</option>
                      <option value="8">Août</option>
                      <option value="9">Septembre</option>
                      <option value="10">Octobre</option>
                      <option value="11">Novembre</option>
                      <option value="12">Décembre</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="inputAddress5" class="form-label">Année</label>
                    <input type="text" class="form-control" id="inputAddres5s">
                  </div>
                  <div class="col-md-6">
                    <label for="inputAddress5" class="form-label">Type</label>
                    <select id="inputState" class="form-select">
                      <option value="1">Salaire</option>
                      <option value="2">Loyer</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
                </form>
              </div>

                <div class="tab-pane fade profile-overview" id="profile-overview">
                  <div class="header mb-3 search-bar d-flex align-items-center" style="width: 500px;padding-right: 20px;">
                    <label for="search" class="col-md-2 col-lg-3 col-form-label">Rechercher</label>
                    <div class="search-form d-flex align-items-center">
                        <input [(ngModel)]="searchTerm" (ngModelChange)="updatePageDepenses()" type="text" class="form-control" id="search">
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                      </div>
                  </div>
              <table class="table">
                <thead>
                  <tr >
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Montant</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let depense of pagedDepenses">
                    <td>{{depense.date | dateFormat}}</td>
                    <td>{{depense.description}}</td>
                    <td> {{depense.type}} </td>
                    <td> {{depense.montant}} </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="depenses.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <h3 class="card-title">Saisissez les dépenses</h3>
                    <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Description</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="description"></textarea>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Type</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                          <option value="achat" >Achat pieces</option>
                          <option value="autre">Autres</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Montant</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="montant" type="text" [(ngModel)]="montant" [ngModelOptions]="{standalone: true}" class="form-control" id="montant">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="date" type="date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" class="form-control" id="date">
                        </div>
                      </div>
                    <div class="text-center">
                      <button type="submit" (click)="depenseCreate()" class="btn btn-primary">Ajouter</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>


  </main><!-- End #main -->
<app-footer></app-footer>
