<app-header></app-header>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des dépenses</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste dépenses</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Saisie dépenses</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Liste des dépenses</h5>
                   <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Commission</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <h5 class="card-title">Saississez les dépenses</h5>
                    <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName">
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Prix</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" id="company" >
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Durée</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fin" type="text" class="form-control" id="Job">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Commission</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="fin" type="text" class="form-control" id="Job">
                        </div>
                      </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>


  </main><!-- End #main -->
<app-footer></app-footer>