<app-header></app-header>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des dépenses</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste dépenses</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Saisie dépenses</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Liste des dépenses</h5>
                   <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr >
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Montant</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let depense of depenses">
                    <td>{{depense.date | dateFormat}}</td>
                    <td>{{depense.description}}</td>
                    <td> {{depense.type}} </td>
                    <td> {{depense.montant}} </td>
                  </tr>
                </tbody>
              </table>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <h5 class="card-title">Saississez les dépenses</h5>
                    <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Description</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="description"></textarea>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Type</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" aria-label="Default select example">
                          <option >Salaire</option>
                          <option >Accessoires(brushing,fer...)</option>
                          <option >Services publics(eau,chauffeau...)</option>
                          <option >Loyer</option>
                          <option >Marketing et publicité</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Montant</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="montant" type="text" [(ngModel)]="montant" [ngModelOptions]="{standalone: true}" class="form-control" id="montant">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="date" type="date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" class="form-control" id="date">
                        </div>
                      </div>
                    <div class="text-center">
                      <button type="submit" (click)="depenseCreate()" class="btn btn-primary">Ajouter</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>


  </main><!-- End #main -->
<app-footer></app-footer>