<app-header></app-header>
<div class="container-fluid position-relative py-5">
  <div class="mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="text-primary display-1">Paiement!</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="tab-header">
          <h3 class="text-dark fw-bold mb-3">Les rendez-vous pris</h3>
        </div>
        <div  class="class1" (dragstart)="start($event)" (dragover)="over($event)">
          <div class="color-div"  *ngFor="let rdv of rendezvous"  (dragstart)="start($event)" id="{{rdv._id}}" draggable="true" >
            <input type="hidden" value="{{rdv._id}}">
            <p class="text-dark fw-bold mb-0">{{rdv.daty}}</p>
            <p class="text-dark fw-bold mb-0">{{rdv.service_info.nom}}</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="tab-header">
          <h3 class="text-dark fw-bold mb-3">A payer</h3>
        </div>
        <div class="class1" (dragover)="over($event)" (drop)="drop($event)" (dragleave)="leave($event)" style="display: flex; flex-wrap: wrap;">
          <div class="color-div" *ngFor="let rdv of rendezvousApayer">
            <input #rdvIdInput type="hidden" value="{{rdv._id}}">
            <input #rdvPrixInput type="hidden" value="{{rdv.service_info.prix}}">
            <input #serviceInput type="hidden" value="{{rdv.service_info.nom}}">
            <p class="text-dark fw-bold mb-0">{{rdv.daty}}</p>
            <p class="text-dark fw-bold mb-0">{{rdv.service_info.nom}} / {{rdv.service_info.prix}}</p>
          </div>
        </div>
        <button class="btn-primary btn-primary-outline-0 py-3 px-5" (click)="validerApayer()">valider  <i class="fa fa-money-bill"></i></button>



      </div>
      <div class="col-sm-4" style="margin-bottom: 10px;">
        <div class="tab-header">
          <h3 class="text-dark fw-bold mb-3">Payer ici!</h3>
        </div>
        <div class="row">
         <ul *ngFor="let paiement of paiements">
            <li class="text-dark fw-bold mb-0">{{paiement.service}} + {{paiement.prix}}</li>
            <input #paiementIdInput type="hidden" value="{{paiement._id}}">
         </ul>
         <b style="color:red">Total : {{totalPrix}}</b>
         <div  *ngIf="messageError"class="alert">
          <strong>Erreur!</strong>  {{ messageError }}
        </div>
        <div *ngIf="messageSuccess" class="alert alert-success">
          <strong>C'est fait!</strong> {{messageSuccess}}
        </div>
        </div>
        <button (click)="payer()" class="btn-primary btn-primary-outline-0 py-3 px-5">Payer  <i class="fa fa-money-bill"></i></button>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
