<app-header></app-header>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des services</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered mb-3">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste services</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Ajouter services</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <div class="header mb-3 search-bar d-flex align-items-center" style="width: 500px;padding-right: 20px;">
                    <label for="search" class="col-md-2 col-lg-3 col-form-label">Rechercher</label>
                    <div class="search-form d-flex align-items-center">
                        <input [(ngModel)]="searchTerm" (ngModelChange)="updatePageServices()" type="text" class="form-control" id="search">
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                      </div>
                </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Commission</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let service of pagedServices">
                    <td><img src="{{service.image}}" width="50" height="50" /></td>
                    <td> {{service.nom}} </td>
                    <td>{{service.description}}</td>
                    <td> {{service.prix}} </td>
                    <td> {{service.duree}} </td>
                    <td> {{service.commission}} </td>
                    <td>
                        <a (click)="openModal(service._id, content)" class="btn btn-warning btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td><a (click)="deleteService(service._id)" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="services.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <h3 class="card-title">Ajouter un service</h3>
                    <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="nom" type="text" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" class="form-control" id="fullName">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Descritpion</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="description" type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" id="fullName"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Image</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="image" type="file" class="form-control" (change)="onFileChange($event)">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Prix</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="prix" type="text" [(ngModel)]="prix" [ngModelOptions]="{standalone: true}" class="form-control" id="company" >
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Durée</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="duree" type="text" [(ngModel)]="duree" [ngModelOptions]="{standalone: true}" class="form-control" id="Job">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Commission</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="commission" type="text" [(ngModel)]="commission" [ngModelOptions]="{standalone: true}" class="form-control" id="Job">
                        </div>
                      </div>
                    <div class="text-center">
                      <button type="submit" (click)="serviceCreate()" class="btn btn-primary">Ajouter</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>


  </main><!-- End #main -->
  <ng-template #content let-modal>
    <div class="modal-header" sty>
      <h4 class="modal-title" id="modal-basic-title">Modification service</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row mb-3">
          <label for="inputName5" class="col-md-4 col-lg-3 col-form-label">Nom</label>
          <div class="col-md-8 col-lg-9">
            <input type="text" name="nom" [(ngModel)]="nom" value="{{selectedService?.nom}}" [ngModelOptions]="{standalone: true}"  class="form-control" id="nom">
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail5" class="col-md-4 col-lg-3 col-form-label">Description</label>
          <div class="col-md-8 col-lg-9">
            <textarea type="text" name="description" [(ngModel)]="description" class="form-control" id="description"></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputName5" class="col-md-4 col-lg-3 col-form-label">Image</label>
          <div class="col-md-8 col-lg-9">
            <input type="file" name="image"  (change)="onFileChange($event)"  class="form-control" id="image">
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputName5" class="col-md-4 col-lg-3 col-form-label">Prix</label>
          <div class="col-md-8 col-lg-9">
            <input type="text" name="prix" [(ngModel)]="prix" class="form-control" id="prix">
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputPassword5" class="col-md-4 col-lg-3 col-form-label">Durée</label>
          <div class="col-md-8 col-lg-9">
            <input type="text" name="duree" [(ngModel)]="duree" class="form-control" id="duree">
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputPassword5" class="col-md-4 col-lg-3 col-form-label">Commission</label>
          <div class="col-md-8 col-lg-9">
            <input type="text" name="commission" [(ngModel)]="commission" class="form-control" id="commission">
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="updateService(selectedService._id)" >Modifier</button>
    </div>
  </ng-template>

<app-footer></app-footer>
