<app-header></app-header>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gestion des personnel</h1>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste dépôt d'argent</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Liste des dépôt d'argent à valider</h5>


                                <!-- Default Table -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID Client</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Validation</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let depot of depots">
                                          <td>{{ depot.client_id }}</td>
                                            <td></td>
                                            <td>{{depot.montant}}</td>
                                            <td>
                                              <a (click)="valider(depot._id,depot.client_id,depot.montant)" class="btn btn-warning btn-sm" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                Valider
                                              </a>

                                          </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>
<app-footer></app-footer>
